.container{
    position: absolute;
    top: 55px;
    width: 1000px;
    left:150px;
    height: auto;
    /*border: solid;*/
}
body{
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
    Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
#table1{
    width:150px;
    border-style: solid;
    position: fixed;
    top: 48px;
}
.heading{
    text-align: center;
}
#para{
    font-size: 16px;
}
.span{
    text-align: center;
}
img {
    width: 250px;
  }
div{
    display: block;
    height: auto;
}
#right{
    position: absolute;
    left: 1150px;
    top:55px;
    width: 30%px;
    height: 360%;;
    /*border: solid;*/
}
#painting{
    width: 600px;
    height: 400px;
}
#cn{
    height: 350px;
}
#form{
    left: 1150px;
}
.sidebar{
 width:150px;
 left:0px;
 height:auto;
 position: fixed;;  
}
.menu{
    list-style-type:none;
}
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
  }
#disabled{
    cursor: default;
    pointer-events: none;        
    text-decoration: none;
    color: black;
}
.calculator{
    position: relative;
    top: 10%;;
    left: 450px;
    right:25%;
    bottom:10%;
    border:solid;
    width: 400px;
    height:400px;
    font-size:18px
}
.input{
    position: absolute;
    top: 220px;
    width: 320px;
    height: 100px;
}
#aplusb{
    position: absolute;
    top:10px;
    width: 50px;
    height: 30px;
    left: 85px;
}
#aA{
    position: absolute;
    top:10px;
    width: 50px;
    height:30px;
    left: 165px;
}
#aA1{
    position: absolute;
    top:10px;
    width: 50px;
    height: 30px;
    left: 235px;
}
#bB{
    position: absolute;
    top:10px;
    width:50px;
    height:30px;
    left: 300px;
}
.btn{
    position:absolute;
    top:290px;
    left:20px;
}
#submit{
    position: absolute;
    top:290px;
    left: 300px
}
.result{
    position: absolute;
    top:30%;
    left: 57%;
    /*border:solid;*/
    height:100%;
    width:25%;
}
.topdiv{
    top:0px;
    width: 100%;
    height:50px;
    color: #fff;
    background-color: #0c0b0b;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    padding: 0.3em;
    text-align: center;
    border-radius: 4px;
}
.small {
    font-size: 0.85em;
}
.note {
    font-weight: normal;
    font-style: italic;
    color: #666;
}
.alignCenter {
    text-align: center;
}
